.container-404{
    background-image: url(https://c.tenor.com/DNrNoBnfz4cAAAAC/game-over.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-attachment: fixed;
    width: 100vmax;
    height: 100vh;
    position: absolute;
  }
   
.btn-class1 {
    display: inline-block;

} 
.btn-class1 {
background-color: gainsboro;
font-family: 'Press Start 2P', cursive;
border-radius: 12%;
cursor: pointer;
color: black;
float: center;
padding: 8px 16px;
text-decoration: none;
border: 1px solid rgb(0, 0, 0);

}
.write-404{
    font-family: 'Press Start 2P', cursive;
    display: block;
    text-align: center;
    margin-top: 272px;
    justify-content: center;
    color: #FFFFFF;
    font-size: 30px;

}

.centrando{
  display: flex;
  justify-content: center;
  padding-top: 230px;
}